{% extends 'base.html' %}

{% load cart %}
{% block content %}
<div class="container">
 <div class="border rounded p-4 m-4">
    
    <div class="table-responsive">
        <table class="table table-primary text-center">
            <h3 class=" alert alert-success text-center mb-2 pt-2">Your items in Cart !!!</h3>
            <thead>
                <tr>
                    <th scope="col">SN.</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>

                </tr>
            </thead>
            <tbody>
               {% for product in products %}
               <tr class="">
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{product.name}}</td>
                <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
                <td>{{product.description}}</td>
                <td>Rs.{{product.price}}</td>
                <td>{{product|cart_quantity:request.session.cart}}</td>
                <td>Rs.{{product|total_price:request.session.cart}}</td>


            </tr>
               {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">Total</th>
                    <th>Rs.{{ products|total_cart_price:request.session.cart}}</th>

                </tr>
            </tfoot>
        </table>
        <div class=" float-end">
            <a href="#" class= "btn btn-primary border rounded btn-lg ">Check Out</a>
        </div>
    </div>
    

 </div>
{% endblock %}